= javascript_include_tag "fader.js"

#outy
  #inny
    = image_tag @links.first, id: 'banner'

:javascript
  var faderOptions = {
      images: #{@links.inspect},
      outerDiv: "#outy",
      innerDiv: "#inny",
      banner: "#banner"
    },
    f = new Fader(faderOptions);
  setInterval(f.start, 2000);